.container {
    background-color:rgb(133, 102, 62) ;
    width: 100vw;
    height:120vh;
}
 /* kepala */

.kepala {
    background-color:none;
    width: auto;
    height: 5em;
    display: flex;
    padding-top: 1em;
}

.icon {
    width: 1.5em;
    height: 2.5em;
    padding-top: 0.8em;
    margin-left: 0.5em;
}

.kotak {
    width: 3em;
    height: 3em;
    border-radius: 20%;
    background-color: rgb(194, 164, 126, 0.3);
    margin-left: 2em;
}

.lingkaran {
    width: 2.7em;
    height: 2.7em;
    border-radius: 50%;
    background-color: rgba(38, 33, 27, 0.5);
    position: absolute;
    margin: 0.15em;
    border:3px solid whitesmoke;
    
}

.modelisi1 , .modelisi2 , .modelisi3 , .modelisi4 {
    width: .9em;
    height: .9em;
    position: absolute;

}

.modelisi1 {
    margin-top: .5em;
    margin-left: .2em;
}

.modelisi2 {
    width: .7em;
    height: .7em;
    margin-top: .15em;
    margin-left: .8em;
}

.modelisi3 {
    width: .8em;
    height: .9em;
    margin-top: .45em;
    margin-left: 1.35em;
}

.modelisi4 {
    margin-top: 1.35em;
    margin-left: .7em;
}

.tulisan {
    color: rgb(245, 191, 126);
    margin-left: 1em;
    font-size: 1.5em;
    align-content: center;
    padding-top: 0.2em;
}

/* tengah */

.judul {
    margin-top:5em;
    display: flex;
    justify-content: center;
    
}

.judulkiri, .judulkanan {
    align-content: center;
    justify-content: center;
}

.judulkiri {
    margin-left: -22em;
    position: relative;
}

.judulkanan {
    margin-left: 22em;
    position: absolute;
}

h3 {
    font-size: 1.5em;
}

.badan {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.badankiri , .badankanan {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
}

.guntingkiri , .guntingkanan {
    background-image: url("assets/gunting.png");
}

.guntingkiri:hover {
    background-color:grey;
    border-radius: 15%;
}

.batukiri , .batukanan {
    background-image: url("assets/batu.png");
}

.batukiri:hover {
    background-color:grey;
    border-radius: 15%;
}

.kertaskiri , .kertaskanan {
    background-image: url("assets/kertas.png");  
}

.kertaskiri:hover {
    background-color:grey;
    border-radius: 15%;
}

.guntingkiri, .batukiri, .kertaskiri, .guntingkanan, .batukanan, .kertaskanan {
    background-position: center;
    background-size: 4em 4em;
    background-repeat: no-repeat;
    width: 6em;
    height: 6em;
}

.guntingkiri, .batukiri, .kertaskiri {
    margin-right: 8em;
    margin-top: 2em;
}

.guntingkanan, .batukanan, .kertaskanan {
    margin-left: 8em;
    margin-top: 2em;
}

.nonaktifkan {
    pointer-events: none;
}

.tengah {
    display:flex;
    align-items: center;
    justify-content: center;
}

p {
    text-align: center;
    letter-spacing: 0.1em;
}

#standby {
    width: 4em;
    height: 5em;
    position: absolute;
    background-color: rgb(133, 102, 62);
    display:flex;
    align-items: center;
    justify-content: center; 
    color:red;
    font-size: 3.5em;
    margin-top: .9em;
}

#userwin , #comwin {
    width: 5.5em;
    height: 3.5em;
    background-color: rgb(11, 230, 11);
    color:white;
    font-size: 1.5em;
    letter-spacing: .1em;
    text-align: center;
    margin-top: 1.2em;
    padding-top: .2em;
    transform: rotate(-30deg);
    position: absolute;
}

#draw {
    width: 5.5em;
    height: 3.5em;
    background-color: rgb(3, 119, 3, 1);
    color:white;
    font-size: 1.5em;
    letter-spacing: .1em;
    text-align: center;
    margin-top: 1.2em;
    padding-top: .9em;
    transform: rotate(-30deg);
    position: absolute;
} 

/* kaki */

.kaki {
    width: 3em;
    height: 3em;
    background-image: url("assets/refresh.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 2em 2em;
    margin-top: 3em;
    margin-left: 48%;
    /* border: 1px solid; */
}

.kaki:hover {
    background-color:darkgoldenrod;
    border-radius: 45%;
}